#!/bin/bash

PWD=$(pwd)

export WORKSPACE="$PWD"
export PATH="$WORKSPACE/bin:$PATH"

if [ ! -f .secret.envrc ]; then
  cat > .secret.envrc <<EOF
#!/bin/bash

export AWS_CONFIG_FILE=
export AWS_PROFILE=
export AWS_REGION=
export AWS_ACCOUNT_ID=
EOF
fi

# shellcheck disable=SC1091
source .secret.envrc
